{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MC-SITES{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mc_sites/css/tokens.css' %}">
    <link rel="stylesheet" href="{% static 'mc_sites/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'mc_sites/css/layout.css' %}">
</head>
<body>
    {% include 'institutional/partials/header.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'institutional/partials/footer.html' %}
</body>
</html>
